button,
.card,
.row {
  width: 95%;
}

.card,
.card-body {
  padding: 1.5%;
  background-color: rgb(107, 177, 88);
}

b {
  color: white;
}

p,
.row {
  margin: 0%;
}

html,
body,
.container,
.content,
button,
.card,
.row {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#logo {
  height: 9%;
  bottom: 1rem;
}

body {
  background-color: rgb(55, 100, 41);
  margin-bottom: 10%;
  margin-top: 5%;
}

h1,
h2,
h3 {
  color: white;
  background-color: rgb(15, 73, 0);
  border-radius: 8px;
}

iframe {
  border-radius: 5px;
}

#stripes {
  background-image: repeating-linear-gradient(
    145deg,
    rgb(40, 114, 19),
    rgb(40, 114, 19) 30px,
    rgb(55, 100, 41) 30px,
    rgb(55, 100, 41) 60px
  );
}
